<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
        <!-- build:js scripts/vendor/modernizr.js -->
        <script src="bower_components/modernizr/modernizr.js"></script>
        <script src="http://192.168.1.218:8081/target/target-script-min.js#anonymous"></script>
        <!-- endbuild -->
    </head>
    <body>
        <div class="container">
             <div class="todo-container">
                <div class="header">
                    <h2>Todo List</h2>
                    <div class="todo-input">
                        <div class="controls">
                            <input type="text" placeholder="Enter to save" class="todo-input-text" autofocus> 
                        </div>
                    </div> 
                </div>
                <div class="content"> 
                    <div class="todo-item-list todo-undone-list clearfix">
                        <p>Things to do:</p>
                    </div>
                    <div class="todo-item-list todo-done-list clearfix">
                        <p>Done Things:</p>
                    </div>
                </div>
                <div class="footer">
                </div>
            </div>
        </div>

        <script type="text/template" id="todo-input-template">
        </script>
        <script type="text/template" id="todo-item-template">
            <span class="order"><%= order%></span>
            <a href="javascript:void(0);" class="done-<%= done%>"> 
                <b><%= title%></b>
                <button title="删除" class="btn btn-mini pull-right todo-item-remove"><i class="icon-remove"></i></button>
                <% if (done) { %>
                    <button title="撤销" class="btn btn-mini pull-right todo-item-undone"><i class="icon-repeat"></i></button>
                <% } else { %>
                    <button title="完成" class="btn btn-mini pull-right todo-item-done"><i class="icon-ok"></i></button>
                <% } %>
            </a>
        </script>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- build:js scripts/main.js -->
        <script data-main="scripts/main" src="bower_components/requirejs/require.js"></script>
        <!-- endbuild -->
</body>
</html>